# ---------------------------------
# General Things
# ---------------------------------
alias cat=ccat
alias ls='ls -GFh'
alias sublime='subl'

# ---------------------------------
# Python Things
# ---------------------------------


# ---------------------------------
# Work Misc
# ---------------------------------
alias gtest-all='./gradlew test'
alias gtest='./gradlew :backend:test --tests '
alias gintegration-all='./gradlew integrationTest'
alias gintegration='./gradlew integrationTest --tests '
alias gapi-all='./gradlew backend:apiTest'
alias gapi='./gradlew backend:apiTest --tests '

# ---------------------------------
# Node
# ---------------------------------
alias nodemem='node --max-old-space-size=4096'

# ---------------------------------
# Git Aliases
# ---------------------------------
alias gitup='git fetch origin && git pull origin main'
alias git-branch-clean='git branch | grep -v "master" | grep -v "main" | xargs git branch -D'
alias gs='git status'
alias gc='git checkout'
alias ga='git add'

# INFRA
alias aws-login=~/development/projects/infrastructure-utils/aws-login

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".aliases.local" ] && source ".aliases.local"